:root {
    --color-light: white;
    --color-dark: gray;
    --color-accent: #F55A5A;
    --color-highlight: rgb(107, 218, 107);
}

body {
    margin: 0;
    padding: 0;
    block-size: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.navbar {
    background-color: var(--color-highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.entry__img {
    width: 125px;
}

.fa-map-marker-alt {
    color: var(--color-accent);
}