:root {
    --color-light: white;
    --color-dark: gray;
    --color-accent: #F55A5A;
    --color-highlight: rgb(107, 218, 107);
}

body {
    margin: 0;
    padding: 0;
    block-size: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #2B283A;
}


/* typography */

a:visited {
    color: #918E9B;
}

a:hover {
    color: var(--color-accent);
    cursor: pointer;
}

a {
    color: #918E9B;
}

.entry__content--date {
    font-weight: bold;
}

.entry__content--title {
    font-weight: bold;
}

.App {
    width: 1200px;
    margin-inline: auto;
}

.navbar {
    background-color: var(--color-highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.journal {
    margin-top: 25px;
}

.entry {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid #000;
    border-color: #F5F5F5;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.entry__img {
    width: 350px;
    min-width: 250px;
    min-height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.fa-map-marker-alt {
    color: var(--color-accent);
}

.entry__content--google {
    margin-left: 10px;
}